@model IEnumerable<RegisterOfFixAssets.Models.Detail_Master>
@{
   
    ViewBag.Title = "DisposedList";
}

<h2>DisposedList</h2>
<table class="table table-striped table-bordered" id="print" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Item Name")
            </th>
            <th>
                @Html.DisplayName("Model & Serial No")
            </th>

            <th>
                @Html.DisplayName("Supplier Name")
            </th>
            <th>
                @Html.DisplayName("Bill No")
            </th>
            <th>
                @Html.DisplayName("Bill Date")
            </th>

            <th>
                @Html.DisplayName("Cost")
            </th>
            <th>
                @Html.DisplayName("File No")
            </th>
            <th>
                @Html.DisplayName("Room No")
            </th>
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                <td>
                    <a href="#" onclick="TransactionHistory(@item.D_ID)">@item.AssetsP.item_name</a>
                    @*@Html.ActionLink(item.AssetsP.item_name, "ItemTransaction", new {rowId=item.D_ID })*@
                    @*@Html.DisplayFor(modelItem => item.AssetsP.item_name)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model_SlNo)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.SuppllierP.Supplier_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.File_No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item Movement History</h4>
            </div>
            <div class="modal-body" id="modalbodydiv">

            </div>

        </div>

    </div>
</div>



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
@section scripts{
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    @*<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>*@
    <script>
        var TransactionHistory = function (itemid) {
            var url = "/Transfer/ItemTransaction?rowId=" + itemid;
            $("#modalbodydiv").load(url, function () {
                $("#myModal").modal("show");
            });
        }

        $(document).ready(function () {
            $('#print').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6],
                    }
                }]

            });
        });
    </script>
}


